.Rproj.user
.Rhistory
.RData
.DS_Store

_book
csas-style
knitr-cache-docx
knitr-cache-pdf
knitr-cache-tex
knitr-figs-docx
knitr-figs-pdf
reference-materials
models*

techreport.Rmd
tmp-*
tmp_*

*.tex
*.aux
*.jpg
*.html
*.knit.md
*.log
*.out
*.pdf
*.rda
*.rds
*.Rproj
*.sty
*.toc
*.upa
*.utf8.md
/.idea/